<%- include('../layouts/header') %>
    <%- include('../layouts/adminHeader') %>

    <h3 class="text-center my-4">
       Coupon Management
      </h3>



        <%- include('../layouts/footerlinks') %>
            <%- include('../layouts/footer') %>