<%- include('../layouts/header') %>

<%- include('../layouts/adminHeader') %>

    <div class="container-fluid" style="background-color: rgb(208,236,248);">
 
        <div class="row text-center">
            <div class="col-md-6">
                <img class="w-75 "
                    src="https://thumbs.dreamstime.com/b/admin-office-binder-wooden-desk-table-colored-pencil-pencils-pen-notebook-paper-79046621.jpg"></img>

                <div class="text-center px-5 pt-5">
                    
                    <div class="pb-1 pt-3">


                    </div>
                </div>
               
            </div>
            <div class="col-md-6 p-4">
                <h3 class="pt-4 ">Welcome <%=locals.username? locals.username :'Admin' %>
                </h3>
              
                <div class="d-flex p-1 " style="border-radius: 2em; background-color: rgb(138,184,225)">
                   
                </div>
            </div>
        </div>
    </div>

    
   

    <%- include('../layouts/footer') %>