<%- include('../layouts/header') %>

  <%- include('../layouts/adminHeader') %>

    <style>
      body {
        background-color: #fbdfdc;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    </style>

    <!-- SEARCH BOX -->
    <div class="mt-5 text-center container">
      <div class="row">

        <div class="col-md-6 mb-4">
          <form action="/admin/productSearch" method="post" class="d-flex">
            <input class="form-control me-2 w-50 " name="search" type="search" placeholder="Search for Products"
              aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
        </div>

        <div class="col-md-6">
          <a href="/admin/addProduct">
            <button class="btn btn-danger">ADD NEW PRODUCT</button>
          </a>
        </div>
      </div>
    </div>

       <!-- alert -->
    <% if(locals.alert){%>
      <div class="alert alert-warning text-center my-2">
        <%=locals.alert%>
      </div>
      <% } %>

    <hr>

    <%- include('../layouts/footer') %>