<%- include('../layouts/header') %>
    <%- include('../layouts/adminHeader') %>

        <h3 class="text-center my-4">
            Sales Report
        </h3>

       
            <!-- ======== -->
            
            <!-- ====== -->

        <%- include('../layouts/footerlinks') %>
            <script>
              
            </script>
            <%- include('../layouts/footer') %>