<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex">
            <div class="col-12 col-md-6 ">
               
                <a href="/admin/home"><img class="ps-4 my-3" style="width: 40%;" src="/images/Logo_full.png"></img></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <div class="text-start mx-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin/user_management"><span
                                    class="material-symbols-outlined"> <span class="material-symbols-outlined">
                                        switch_account </span> </span>USER MANAGEMENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin/product_management"><span
                                    class="material-symbols-outlined ">storefront</span>PRODUCTS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin/order_management"><span
                                    class="material-symbols-outlined ">pending_actions</span>ORDERS</a>
                        </li>

                        
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><span class="material-symbols-outlined">
                                    manage_accounts
                                </span> SETTINGS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                                <li><a class="dropdown-item" href="#">Order History</a></li>
                                <li><a class="dropdown-item" href="#">Manage Account</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form action="/admin/logout" method="post"><button type="submit"
                                            class="dropdown-item">Logout</button></form>
                                </li>
                               
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>