<footer class="row py-4" style="background-color: #EDF1FF;">
    <div class="col-md-9">
        <img class="w-25 mb-3" src="/images/Logo_full.png" alt="Logo">
        <p>Discover the Joy of Parenthood</p>
        <p>Shop Our Adorable Baby Essentials.. !</p>
        <hr>
        <p>© Lubie Lu. All Rights Reserved. Designed by lubie lu international</p>
    </div>

    <div class="col-md-3">
      <p>Calicut, Kerala, INDIA</p>  
      <p>lubie_lu@gmail.com</p>
        <p>+91 8075 468 241</p>
    </div>
</footer>