<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex">
            <div class="col-12 col-md-6 ">
                <a href="/home"><img class="ps-4 my-3" style="width: 40%;" src="images/Logo_full.png"></img></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" action="/searchResult" method="post">
                    <input class="form-control me-2" type="search" placeholder="Search for products" name="search" pattern="[A-Za-z ]*" aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit">Search</button>
                </form>
                
                <% if(username){ %>
                    <div class="text-start mx-3 text-center">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="/wishlist">
                                    <button type="button" class="btn btn-outline-danger position-relative">
                                        <span class="material-symbols-outlined"> favorite </span>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            <%= locals.wishListCount ? locals.wishListCount : '0' %>
                                            <span class="visually-hidden">WISHLIST</span>
                                          </span>
                                    </button> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/cart">
                                    <button type="button" class="btn btn-outline-primary position-relative">
                                        <span class="material-symbols-outlined"> shopping_cart </span>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            <%= locals.cartCount ? locals.cartCount : '0' %>
                                            <span class="visually-hidden">CART</span>
                                          </span>
                                    </button> </a>

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><span class="material-symbols-outlined">
                                        manage_accounts
                                    </span> SETTINGS
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                                    <li><a class="dropdown-item" href="/orderHistory">Order History</a></li>
                                    <li><a class="dropdown-item" href="/userProfile">Manage Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><form action="/logout" method="post"><button type="submit" class="dropdown-item">Logout</button></form></li>
                                </ul>
                            </li>
    
                        </ul>
                    </div>

               <% } else { %>

               <div class="text-center m-4">
                <a href="/login">LOGIN</a>
                |
                <a href="/register"> REGISTER </a>
               </div>

                <% } %>

            </div>
        </div>
    </nav>
</header>