<%- include('../layouts/header') %>

<%- include('../layouts/userHeader') %>

<div class="container-fluid" style="background-color: rgb(208,236,248);">
    <div class="row text-center">
        <div class="col-md-6">

            <img class="w-75 "
                src="https://static.vecteezy.com/system/resources/previews/001/950/076/original/online-shopping-concept-smartphone-online-store-free-vector.jpg"></img>
        </div>
        <div class="col-md-6 p-4">
            <h3 class="pt-4 ">Welcome <%=locals.username? locals.username :'User' %></h3>
            <hr>
           
            

                
                <!-- <img class="w-50 "
                src="https://static.vecteezy.com/system/resources/previews/008/501/405/original/under-construction-barrier-clip-art-free-png.png"></img> -->
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>