<%- include('../layouts/header') %>

<%- include('../layouts/userHeader') %>

<section style="min-height: 17rem">
    
    <h1>WISHLIST</h1>

</section>

<%- include('../layouts/footerlinks') %>
<%- include('../layouts/footer') %>